@font-face {
    font-family: roman;
    src: url('../fonts/ChronicleTextRoman.woff');
}

@font-face {
    font-family: proBook;
    src: url('../fonts/lineto-circular-pro-book.woff');
}

@font-face {
    font-family: proBold;
    src: url('../fonts/lineto-circular-pro-bold.woff');
}

.container {
	padding-top: 25px;
}

.navOverlay {
	background: black;
    color: white;
    z-index: 9999999;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.navOverlay a{
	color: white;
}

.navOverlay li {
	width: 50%;
}
.navOverlay .closeMe {
	float: right;
}
.navOverlay h3{
    color: blue;
    text-transform: uppercase;
}

.navOverlay img {
    float: right;
    padding: 15px;
}

.navOverlay ul {
    padding-left: 0px;
    padding-top: 50px;
}

.navOverlay li{
    list-style: none;
    padding-left: 0px;
    line-height: 33px;
}   

.navOverlay a:hover {
    text-decoration: none;
    padding-left: 15px;
    transition: 1s all ease;
} 

.preview h2 {
    font-family: proBold;
    letter-spacing: -0.2px;
    line-height: 48px;
    font-size: 32px;
    font-weight: 600;
}  

.preview a:hover {
    text-decoration: none;
    color: #3455DB;
}


.preview h2 {
    font-family: proBold;
    letter-spacing: -0.2px;
    line-height: 48px;
    font-size: 32px;
    font-weight: 600;
}

.preview span {
    color: #4F5A65;
    font-family: proBold;
}

.preview a:hover span {
    color: #000;
}

.preview .time {
    color: #4F5A65;
    font-size: 16px;
    margin-top: 0px;
    text-transform: uppercase;
    font-family: roman;
}

.preview p {
    font-family: roman;
    font-size: 21px;
    line-height: 31px;
    color: #4F5A65;
    margin: 0;
    font-weight: 100;
    letter-spacing: 0.3px;
}

.index {
    max-width: 760px;
    padding-top: 20px;
}

.blogpage a {
    border-bottom: 4px solid #FFE9A8;
    text-decoration: none;
    padding: 3px;
    padding-bottom: 0px;
}

.blogpage a:hover {
    color: #000;
    background-color: #FFE9A8;
}

.shareBtn {
    color: #fff;
    border-bottom: none !important;
    font-size: 18px;
    border-radius: 20px;
    width: 150px; 
    padding: 10px 15px !important;
    margin-right: 10px;
}

.shareBtn img {
    height: 15px;
    position: relative;
    bottom: 1px;
}
 
.facebook, .facebook:hover {
    background-color: #39579A !important;
    color: white !important;
}


.twitter, .twitter:hover {
    background-color: #059FF5 !important;
    color: white !important;
}

.blogContent {
    padding-top: 15px;
}
















